@* Razor View (_Layout a bağlı ) *@
@*<!DOCTYPE html>

<html>
    <head></head>
    <body></body>
</html>
eklemiyoruz. çünkü layout a bağlı bir sayfadayız ve layout bu tagları zaten içeriyor. burada yazdıklarımız layout taki renderbody içine
yazılmış gibi olacak.*@

@*
@using MultiShop.Presentation.Controllers
@model HomeModel
Üç property barındıran modeli böyle tanımlıyoruz.
Html içinde kullanacağımız yerlerde de @Model.Sliders, @Model.Categories, @Model.Products diyerek erişebiliyoruz.
*@

@* aşağıda carousel, featured, categories, products olarak ayrılan her bölümü bir component yapısı olacak şekilde düşünebiliriz. *@
@* bir web sayfası birden fazla veri kaynağı içeriyorsa bunları mvc nin component yapısıyla ayırmak mantıklıdır. *@

<!-- Carousel Start -->
@await Component.InvokeAsync("Slider") @* viewComponentlerden "slider" adındaki componenti arayıp içindeki cshtml dosyasını buraya alacak.*@
<!-- Carousel End -->

<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->

<!-- Categories Start -->
@await Component.InvokeAsync("Category")
@* adı "category" olan component i çağırıyoruz. *@
@* asnyc metodlar aynı anda çalışan sıra beklemeden çalışan metodlara denir. bu sayfada oluşturulacak tüm componentler sırayla değil sayfa
açıldığı anda birlikte aynı anda çalıştırılıp gösterilirler. async metodlar @await ile kullanılır. *@
@* buradaki html kodunu da component teki cshtml e aktarıyoruz. *@
<!-- Categories End -->

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
@await Component.InvokeAsync("Product", ShowPlace.Featured)
@* index te bir featured bir de recent product listesi var ve product ların gösterilme şekli aynı. bu yüzden tek bir component le burayı
gösterebiliriz. back end e giderken buraya mı yoksa diğerine mi veri göndereceğini anlaması için de ayraç kullanmamız gerekiyor. Bu ayraç 
buradaki component içindeki invoke metodunun istediği parametre oluyor. ShowPlace.Featured *@
@* default.cshtml de yazılanlar her iki tarafta da ortak olacak sadece bir parametreyle yönetilecek. *@
<!-- Products End -->

<!-- Offer Start -->
@await Component.InvokeAsync("Offer")
<!-- Offer End -->

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Products</span></h2>
@await Component.InvokeAsync("Product", ShowPlace.Recent)
</div>
<!-- Products End -->

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/presentation/img/vendor-1.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/presentation/img/vendor-2.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/presentation/img/vendor-3.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/presentation/img/vendor-4.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/presentation/img/vendor-5.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/presentation/img/vendor-6.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/presentation/img/vendor-7.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/presentation/img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
